#environement variables
export LC_ALL=""
export LC_CTYPE=zh_CN.UTF-8
export LC_NUMERIC=zh_CN.UTF-8
export LC_TIME=zh_CN.UTF-8
export LC_COLLATE=en_US.UTF-8
export LC_MONETARY=en_US.UTF-8
export LC_MESSAGES=zh_CN.UTF-8
export LC_PAPER=en_US.UTF-8
export LC_NAME=zh_CN.UTF-8
export LC_ADDRESS=en_US.UTF-8
export LC_TELEPHONE=zh_CN.UTF-8
export LC_MEASUREMENT=zh_CN.UTF-8
export LC_IDENTIFICATION=en_US.UTF-8
export LANG="zh_CN.UTF-8"


export PYTHONSTARTUP=~/.pythonrc.py

